@media screen and (max-width: 414px){

    header{
        background: whitesmoke;
    }
    
    .header{
        /* background-color:burlywood; */
        display: flex;
        align-items: center;
        width: 80%;
        height:150px;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 20px;
        /* margin-bottom: 10px; */
        text-align: center;
        /* justify-items: center; */
    }

    .bar{
        visibility:visible;
    }
    .m-menu{
        position:absolute;
        background-color: #e3f1f8;
        display: block;
        visibility: hidden;

        z-index: 15;
        width: 90vw;
        height: 50vh;
        padding: 20px;
        top: 100px;
        right: 0px;
        font-size: xx-large;
        text-align: end;
    }

    .nav-links{
        display: none;
        /* width: 50%; */
        /* justify-content:center; */
        /* background-color: aqua; */
        margin-top: 10px;
    }
    .nav-links ul{
        list-style: none;
        /* background-color: bisque; */
        
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        font-size: 24px;
        /* margin-right: 50px; */
    
    }
    .nav-links li{
        margin-right: 10px;
    }
    .nav-links a:hover{
        color:#e52f37;
        font-weight: bold;
    }
    .nav-links a{
        text-decoration: none;
        color: #04284d;
    }

    .header button{
        background-color: #e52f37;
        border-style: none;
        padding: 5px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
    }
    .header button:hover{
        cursor: pointer;
    }
    
    /* hero */   

    .hero-wraper{
        padding: 0;
        /* background-color: #27b36a; */
        /* background:url("./images/img/books.jpg"); */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment:fixed;
        position: relative;
        z-index: 10;        
    }
    .hero-wraper::after{
        content: '';
        position: absolute;
        inset: 0;
        /* background: rgb(248, 234, 234); */
        background: rgb(56, 53, 53);
        z-index: -1;
        opacity: 0.8;
    }
    
    .hero{
        /* background-color:burlywood; */
        display: block;
        /* flex-direction: column; */
        /* justify-content:space-between; */
        height: auto;
        /* padding-top: 20px; */
        /* align-items:flex-start;
        justify-content:flex-end; */
        width: 100vw;
        /* height: 80vh; */
        margin: 0;
        padding: 150px 0px 100px 0px;
        /* margin-top: 1px; */
        /* justify-items: center; */
    }
    .hero-left{
        display: block;
        width: 100%;
        /* height: 100vh; */
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
    }
    .hero-left h5{
        font-size: 15px;
        color: whitesmoke;
        /* margin-top: 100px; */
        /* margin-bottom: auto; */
    }
    .hero-left h1{
        font-size: 35px;
        line-height: 1em;
        margin-top: 5px;
        margin-bottom: 20px;
        color: #e52f37;
    }
    .hero-left span{
        /* color: #e52f37; */
        color: #f7f2f2;
    }
    
    .hero-left p{
        font-size: 18px;
        margin-bottom: 20px;
        color: whitesmoke;
    }
    
    .hero-left button{
        /* font-weight: bold; */
        font-size: large;
        padding: 10px 30px;
        border-radius: 50px;
        background-color: #e52f37;
        border-style: none;
        color: white;    
    }

    .hero-right{
        display: block;
        /* background-color: #04284d; */
        width: 100%;
        height: auto;
        padding: 0 20px;
        /* align-items: center;
        justify-content: center; */
    }
    .hero-right img{
        width: 100%;
        height: 100%;
        border-radius:0%;
    }

    /* services */

    .services-wraper{
        padding-top: 50px;
        padding-bottom: 50px;
        /* background-color: rgb(209, 216, 214); */
        background-color: #e3f1f8;

    }
    .services{
        /* background-color: bisque; */
        width: 80%;
        text-align: center;
        padding-bottom: 0px;
    }
    .services h1{
        font-size: xx-large;
    }
    .services .cards{
        display: block;
        margin-top: 30px;
    }
    .services .card{
        /* height: 40vh; */
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .services .card h4{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .services .card p{
        font-size: 24px;
        margin-bottom: 0;
    }

    .cards .icon{
        width: 80px;
        height:80px;
        display: flex;
        /* border-radius: 50px; */
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    
    #card1 .icon{
        background-color: #1e90ff;
    }
    #card2 .icon{
        background-color: #e52f37;
    }
    #card3 .icon{
        background-color:#27b36a;
    
    }


    /* Steps Section */

    .steps{
        /* background-color: #e52f37; */
        width: 100%;
        /* margin: auto; */
        display: block;
        /* align-items: center; */
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 20px;
        /* padding: 10px; */
    }
    
    .steps-left{
        display: block;
        width: 100%;
    }
    .steps-left h3{
        font-size: xx-large;
        text-align: center;
        margin-bottom: 20px;
    }
    .step{
        display: flex;
        margin: 10px;
    }
    .step .icon{
        /* width: 50px; */
        height: 50px;
        /* background-color: gray; */
        margin: 10px;
        border-radius: 50%;
    }
    .inner-step{
        margin-left: 10px;
        margin-bottom: 20px;

    }
    .inner-step p{
        font-size: 24px;
        text-align: justify;
    }

    .teachpic .steps-right{
        display: block;
        /* background-color: #04284d; */
        /* width: 50%; */
        /* height: 300px; */
        width: 100%;

    }

    .steps .steps-right{
        display: none;
    }
    .steps-right img{
        /* display: none; */
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }


    /* subjects! */

    .subjects{
        /* background-color: grey; */
        width: 100%;
        padding-top: 50px;
        padding-bottom: 100px;
        margin-bottom: 0px;
        /* justify-items: center; */
        text-align: center;
        color: white;
    }
    .subjects h1{
        margin-top: 0px;
        padding-top: 20px;
        font-size: xx-large;
        /* color: #f3f0f0; */
    }
    .subjects p{
        font-size: larger;
    }
    .subj-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align:left;
        margin-top: 50px;
        /* margin-bottom: 50px; */
        /* margin: auto; */
    }
    /* .card .img{
        width: 254px;
        height: 148px;
    }
    .img img{
        width:inherit;
    }
    .card ul{
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        color: rgb(240, 222, 222);
        font-style: italic;
    } */

    /* testimonial */

    .testimonial{
        width: 100%;
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
        /* margin-top: 100px; */
        margin-bottom: 100px;
        display: block;
    }
    .testimonial .left{
        /* align-self: center; */
        margin-bottom: 50px;
        }

    /* Team section */

    .our-team{
        width: 100%;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }
    .our-team .cards{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .our-team .card{
        background-color: white;
        width: 156px;
        border: #04284d 1px solid;
    }
    
    .our-team .img{
        width: 156px;
        height: 156px;
        background-color: #04284d;
        margin-bottom: 20px;
    }
    
    /* contact */

    .contact-us{
        width: 100%;
        /* background-color: wheat; */
        margin: 0;
        height: auto;
    }

    form .contact-input{
        width: 100%;        
    }


    /* footer */
    footer{
        display: block;
        text-align: center;
        height:100px;
        padding-top: 20px;
        align-items:center;
        font-size: larger;
    }

}